# Ignore the following directories and files
.gradle/
apps/samples/Ensemble8/lib/
build/
dist/
gradle.properties
**/nbproject/private/

# Ignore webrevs
webrev.zip
webrev/

# Ignore IntelliJ files
.idea/tasks.xml
.idea/workspace.xml
.idea/inspectionProfiles/*
.idea/copyright/profiles_settings.xml
.idea/codeStyles/*
.idea/checkstyle-idea.xml

# Ignore the following file suffixes
*.orig
*.bak
*.rej
*.swp
