# FIXME: Eventually we should include the needed patterns from .hgingore
# The goal is that a full build & test, followed by "git status" would show
# no untracked files

*.orig
*.bak
*.rej
*.swp
build/
.gradle/
**/nbproject/private/
dist/
webrev/
webrev.zip
gradle.properties
apps/samples/Ensemble8/lib/
*.xml~
!modules/javafx.media/src/main/native/gstreamer/3rd_party/glib/glib-2.56.1/build/
!modules/javafx.media/src/main/native/gstreamer/gstreamer-lite/projects/build/

